:root { 
    --h2-color:#f020b2;
    --h2-color-light:rgba(240, 32, 178, 0.7);
    --h3-color:#f020b2;
    --h3-color-light:rgba(240, 32, 178, 0.7);
    --border-color:black;
    --text-color: black;
}