
    ul { 
        list-style-type: none; 
        margin: 0;
        padding: 0; 
        overflow: hidden; 
    
    }
    
    li { 
        float:left; 
    }
    li a{
        display: block; 
        color: rgb(83, 80, 80); 
        padding: 2vh 3vw; 
        text-decoration: none; 
        font-family: verdana; 
        font-weight: 600; 
    
    
    }
    li a:hover {
        color: #111;
        text-decoration: none;
    }
    
    #intro { 
        width: 99vw; 
        background-color: rgba(21, 53, 122, 0.1);
        height: 65vh; 
    }
    .picture { 
        width: 20vw;
        height: 45vh; 
        float:left; 
        margin-top: 5vh; 
    }
    .flex-column { 
        display: flex;
        flex-direction: column;  
    }
    .introtext { 
        margin-left: 10vw;
        margin-top: 3vh;  
        float:right; 
        margin-bottom: 5vh;
        font-family: verdana;
        font-weight: 590;
        margin-right: 5vw; 
        display:flex;
    
    }
    .coursework { 
        margin-top: 45vh; 
        width:95vw; 
    }
    .classcard { 
        width: 20vw; 
        margin: 2vw 3vh;
        margin-bottom: 10vh; 
        /*border-width: 0.5px; 
        border-style:solid;  
        border-color:rgb(185, 183, 183)*/ 
    }
    .moreinfo{
        text-decoration: none; 
        border: none; 
        color:rgb(92, 91, 91);
        display: inline-block;
        cursor:pointer;
        background: none; 
    
    }
    
    .contact { 
        width:80vw;
        margin-top: 30vh; 
    
    }
    .collapse { 
        width: 20vw;
        margin: 2vw 3vh;
        margin-bottom: 10vh;
    }
    #MyHeader {
        position:sticky; 
        top: 0; 
    }
    .contactform { 
        position: relative;
        left: 2vw; 
    }
    .icons { 
        width:35vw;
        flex-direction:row;
        margin-top:5vh;
        position:relative; 
        left:3vw; 
        /*float: left;*/  
    }
    .icons > img { 
        padding-left:2vw; 
    
    }
    #copyright { 
        margin-top:30vh; 
        text-align:center;
        font-size:smaller;  

    }
    .daniellink{ 
        text-decoration: none; 
        color:inherit; 
    }
    .daniellink:hover { 
        text-decoration:underline; 
    }
    
    